table, td, th {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-collapse: collapse;
}

tr, td{
    width: 100px;
    text-align: center;
}

a {
   color: blue;
    border-collapse: collapse;
    border: 1px solid blue;
}